.container {
  width: 300px;
  border: 1px solid;
  padding: 10px;
  margin: auto;
}

li {
  list-style-type: none;
  text-align: center;
  line-height: 50px;
}

.list {
  height: 50px;
  border: 1px solid #ddd;
  margin-left: -40px;
}
